SERVER_CONFIG=ewogICJub2RlRW52IjogImRldmVsb3BtZW50IiwKICAic2VydmVyIjogewogICAgInBvcnQiOiAzMDAwLAogICAgIm9yaWdpbiI6IFsiKiJdLAogICAgImNyZWRlbnRpYWxzIjogdHJ1ZQogIH0sCiAgImxvZ3MiOiB7CiAgICAiZm9ybWF0IjogImRldiIsCiAgICAiZGlyZWN0b3J5IjogIi4uLy4uLy4uL2xvZ3MiCiAgfSwKICAiZGF0YWJhc2VzIjogWwogICAgewogICAgICAia2V5IjogImRhdGFiYXNlLTEiLAogICAgICAidHlwZSI6ICJwb3N0Z3Jlc3FsIiwKICAgICAgImhvc3QiOiAibG9jYWxob3N0IiwKICAgICAgInBvcnQiOiA1NDMyLAogICAgICAidXNlciI6ICJhZG1pbiIsCiAgICAgICJwYXNzd29yZCI6ICJhZG1pbiIsCiAgICAgICJkYk5hbWUiOiAidGVtcGxhdGVfZGIiCiAgICB9CiAgXQp9Cg==