{
  "nodeEnv": "development",
  "server": {
    "port": 3000,
    "origin": ["*"],
    "credentials": true
  },
  "logs": {
    "format": "dev",
    "directory": "../../../logs"
  },
  "databases": [
    {
      "key": "database-1",
      "type": "postgresql",
      "host": "localhost",
      "port": 5432,
      "user": "admin",
      "password": "admin",
      "dbName": "template_db"
    }
  ]
}
